<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>kuru.kit.to</title>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
<script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
  <form>
    <input id="keyword" data-type="search"/>
  </form>
  <ul data-role="listview" data-filter="true" data-inset="true" data-input="#keyword">
    <li>
      <a href="play" target="_blank">
        <h2>Title</h2>
        <p><strong>Name</strong></p>
        <p>Description.</p>
        <span class="ui-li-aside">6:24</span>
        <span class="ui-li-count">12</span>
      </a>
    </li>
  </ul>
</body>
</html>
